 <ion-view>
	
	<ion-tabs class="tabs-positive tabs-icon-top">

		  <ion-tab title="Call" icon-on="ion-android-call" icon-off="ion-android-call">
		    <!-- Tab 1 content -->
		  </ion-tab>

		  <ion-tab title="Message" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline">
		    <!-- Tab 2 content -->
		  </ion-tab>

		  <ion-tab title="Attachment" icon-on="ion-android-attach" icon-off="ion-android-attach">
		    <!-- Tab 3 content -->
		  </ion-tab>

	</ion-tabs>
 
 	<ion-content>
		 <div ng-controller="patientController">
			<ion-list>
  				<ion-item ng-repeat="data in patients">
		           FIRSTNAME = {{data.firstName}}
		           <br> LASTNAME = {{data.lastName}}
 				</ion-item>
			</ion-list>
		 </div>
	</ion-content>
	
  </ion-view>