<ion-card style="margin: 0px 0px 10px 0px; width:100%; padding:0px 0px 0px 0px; display: float;">

    <ion-card-header>
        <label class="row row-wrap">
            <ion-avatar >
                <img src="{{ message.sender.userprofileimage }}">
            </ion-avatar>&nbsp;&nbsp;
            <label>
                <h2>{{ message.sender.userName }}</h2>
                <p>RN# - 000{{ message.sender.id }}</p>
                <p>{{ message.dateCreated | date:'medium' }}</p>
            </label>
        </label>

    </ion-card-header>
    <ion-card-content>
        <p>{{ message.content }}</p>
    </ion-card-content>
    <ion-row>
        <ion-col>
            <button item primary clear small (click)="openComments()">
                <div>{{ subMessages.length }} Comments - </div>
                <div>{{ message.likesCount }} Likes</div>
            </button>
        </ion-col>
        <ion-col>
            <button primary clear small (click)="likeMessage()">
                <ion-icon name="thumbs-up">Like</ion-icon>
            </button>
            <button primary clear small (click)="openMessage()">
            <ion-icon name="text"></ion-icon>
                <div>Reply</div>
            </button>
        </ion-col>
    </ion-row>

    <ion-row>
        <div *ngIf="showComments">
            <label class="item" *ngFor="let message of subMessages">
                            <MessageComponent-item [init]="message"></MessageComponent-item>
                            </label>
        </div>
    </ion-row>
    <ion-row>
        <div *ngIf="showReplyDialog">
            <SendMessageComponent-item [init]="message"></SendMessageComponent-item>
        </div>
    </ion-row>
</ion-card>