<ion-menu [content]="content"> 

  <ion-toolbar>
    <ion-list id="menu-list" class="row row-wrap" style="margin:5px 0px 0px 5px;" (click)="showUserProfilePage(currentUser)">
        <ion-avatar>
            <img *ngIf="currentUser" src="{{ currentUser.userprofileimage }}"> 
        </ion-avatar>&nbsp;
        <label>
           <h3 *ngIf="currentUser"> {{ currentUser.userName }}</h3>
            <p>oz.donald@woundcare.com</p>
          </label>
    </ion-list>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)" class="row-no-padding row row-side-padding">
        {{p.title}}
      </ion-item> 
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
